URxvt*loginShell: true
! disable the scollbar
URxvt.scrollBar: 	false

URxvt.colorIT:      #00ff2b
URxvt.colorBD:      #01a252
URxvt.colorUL:      #01a0e4

! letter spacing for font display
URxvt.letterSpace: 	-1
URxvt*internalBorder: 4
URxvt*lineSpace: 2

! Transparency
URxvt*depth: 32
!URxvt*background: rgba:0000/0000/0200/c800

! Extensions
URxvt.perl-lib: .urxvt/
URxvt.perl-ext-common: default,tabbedex
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0


! Basic setup
URxvt.font:		xft:Hack:pixelsize=16:antialias=true:style=Regular
*background: 		#232c31
!*foreground: 		#C5C8C6
!*foreground:		#eeeeee
*foreground:		#ffffff

!#include "/home/shane/.term/colors/material"
#include "/home/shane/.term/colors/hybrid"
