! .Xresources
! vi=xdefaults

! Force login shell at startup
URxvt*loginShell: true

! disable the scollbar
URxvt.scrollBar: 	false

URxvt.colorIT:      #00ff2b
URxvt.colorBD:      #01a252
URxvt.colorUL:      #01a0e4

! letter spacing for font display
URxvt.letterSpace: 	-1
URxvt*internalBorder: 4
URxvt*lineSpace: 2

! Transparency
URxvt*depth: 32
!URxvt*background: rgba:0000/0000/0200/c800

! Extensions
URxvt.perl-lib: .urxvt/
URxvt.perl-ext-common: default,tabbedex
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

URxvt.geometry: 86x25
URxvt*scrollTtyKeypress:  true
URxvt*scrollTtyOutput:  false

! Basic setup
URxvt.font:		xft:Hack:pixelsize=16:antialias=true:style=Regular

*background: #090300
*foreground: #C5C8C6
! black
*color0: #2D3C46
*color8: #425059
! red
*color1: #A54242
*color9: #CC6666
! green
*color2: #8C9440
*color10: #B5BD68
! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #6C7A80
*color15: #C5C8C6
